.menu-button {
  position: absolute;
  top: 10px;
  right: 0;
  box-shadow: none;
  color: white;
}

.spinner {
  margin-top: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.search-field {
  width: 100% !important;
}

.table-no-data {
  margin-top: 10px;
  font-size: 16px;
}

.table-wapper {
  min-height: 200px;
}

.mat-header-cell {
  background: #505db2;
  color:  white;
  font-size: 16.5px;
  /* justify-content: center;
  flex-direction: column; */
}

/* .mat-cell{
  text-align: center;
  justify-content: center;
} */

td.mat-cell {
  word-break: break-all;
  padding: 5px;
}

::ng-deep .mat-tooltip {
  font-size: 16px!important;
  overflow: visible!important;
  word-break: break-all!important;
}

.mat-sort-header-arrow {
  color: #ffffff !important;
  /*opacity: 1 !important;*/
}

::ng-deep .mat-sort-header-arrow {
  color: #ffffff;
}
